<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteCond $1 !^(index\.php|images|js|uploads|css|robots\.txt|assets)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L] 
    # RewriteBase /root_folder_name/
    # RewriteCond %{REQUEST_URI} ^system.*
</IfModule>

# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /
# 
#     #Removes access to the system folder by users.
#     #Additionally this will allow you to create a System.php controller,
#     #previously this would not have been possible.
#     #'system' can be replaced if you have renamed your system folder.
#     RewriteCond %{REQUEST_URI} ^system.*
#     RewriteRule ^(.*)$ /index.php?/$1 [L]
# 
#     #When your application folder isn't in the system folder
#     #This snippet prevents user access to the application folder
#     #Submitted by: Fabdrol
#     #Rename 'application' to your applications folder name.
#     RewriteCond %{REQUEST_URI} ^application.*
#     RewriteRule ^(.*)$ /index.php?/$1 [L]
# 
#     #Checks to see if the user is attempting to access a valid file,
#     #such as an image or css document, if this isn't true it sends the
#     #request to index.php
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^(.*)$ index.php?/$1 [L]
# </IfModule>

#Activamos la reescritura SI SOLO SI el mod_rewrite se encuentra activado, así se evitan errores 500
# <IfModule mod_rewrite.c>
# 
#     # Suponiendo que el listado de directorios esté desactivado, permitimos indexación y activamos el rewrite
#     Options +FollowSymLinks -Indexes
#     RewriteEngine on
# 
#     # Usualmente "AllowOverride" debería estar en 'All' en el apache.conf/vhost.conf, pero si no descomentas lo siguiente para evitar un error 404
#     #AllowOverride All
# 
#     # Se supone que la regla aplica desde el directorio donde se encuentra el .htaccess pero si es necesario lo especificas, siendo / la raiz de dominio
#     #RewriteBase /
# 
#     # con esta instrucción bloqueamos el acceso a la carpeta system, si es que se encuentra en el directorio web
#     RedirectMatch 403 ^/(system).*$
# 
#     # Antes de redireccionar, se verifica que la petición no sea a un directorio o archivo existente
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
# 
#     # Si el archivo/directorio no existe, redireccionamos
#     RewriteRule ^(.*)$ /index.php/$1 [L]
# </IfModule>

# <IfModule !mod_rewrite.c>
#     # If we don't have mod_rewrite installed, all 404's
#     # can be sent to index.php, and everything works as normal.
#     # Submitted by: ElliotHaughin
#     ErrorDocument 404 /index.php
# </IfModule>